{% extends 'layouts/main.html' %}
{% block title %}Fyyur{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1>Fyyur 🔥</h1>
		<p class="lead">Where musical artists meet musical venues.</p>
		<h3>
			<a href="/venues"><button class="btn btn-primary btn-lg">Find a venue</button></a>
			<a href="/venues/create"><button class="btn btn-default btn-lg">Post a venue</button></a>
		</h3>
		<h3>
			<a href="/artists"><button class="btn btn-primary btn-lg">Find an artist</button></a>
			<a href="/artists/create"><button class="btn btn-default btn-lg">Post an artist</button></a>
		</h3>
		<p class="lead">Publicize about your show for free.</p>
		<h3>
			<a href="/shows/create"><button class="btn btn-default btn-lg">Post a show</button></a>
		</h3>
	</div>
	<div class="col-sm-6 hidden-sm hidden-xs">
		<img id="front-splash" src="{{ url_for('static',filename='img/front-splash.jpg') }}" alt="Front Photo of Musical Band" />
	</div>
</div>

<div class="recently-added">
    <div class="recently-added-artists">
		{% if artists %}
		<h3 class="recent">Recently added artists</h3>
		<ul class="recent-list">
			{% for artist in artists %}
				<li>
					{% if artist.image_link %}{{ artist.image_link}}<br>{% endif %}
					ARTIST:<a href="/artists/{{ artist.id }}">{{ artist.name }}</a>  <br>
					<!-- ID: {{ artist.id }}<br> -->
					GENRES:{{ artist.genres }}<br>
					{% if artist.website_link %}{{ artist.website_link}}<br>{% endif %}
					{% if artist.shows %} SHOWS:
					<ul>
						{% for show in artist.shows %}
							<li>
								<a href="/venues/{{ show.venue_id }}">{{ show.venue_name}}</a><br>
								Venuve name: {{ show.venue_name}}<br>
								Start time: {{ show.start_time }}

								<br>
							</li>

						{% endfor %}
					</ul>
					{% endif %}
				 </li>
			{% endfor %}
		</ul>
		{% endif %}
    </div>
	<div class="recently-added-venues">
		{% if venues %}
        <h3 class="recent">Recently added venues</h3>
		<ul class="recent-list">
			{% for venue in venues %}
			    <li>
					{% if venue.image_link %}{{ venue.image_link}}<br>{% endif %}
					VENUE NAME:<a href="/venues/{{ venue.id }}"> {{ venue.name }}</a><br>
					CITY: {{ venue.city }}, STATE: {{ venue.state }} <br>
					{% if venue.website_link %}{{ venue.website_link}}<br>{% endif %}

				</li>

			{% endfor %}
		</ul>
		{% endif %}
	</div>
</div>
{% endblock %}
